[Desktop Entry]
Type=Application
Encoding=UTF-8
Version=1.0
Name=My WhatsApp Web
GenericName=My WhatsApp Web
Comment=WhatsApp Web Wrapper
Icon=@image_path@/mywhatsappweb.png
Exec=@bin_path@/mywhatsappweb
Terminal=false
Categories=GTK;GNOME;Network;
Keywords=web;whatsapp;chat;messaging;messenger;
